.profileWrapper {
  text-align: center;
  width: 100%;
  background-color: #b7e4c7;
  overflow: hidden;
  /* height: 100vh; */
  margin-bottom: 5px;
}

.profileWrapper
  .accordion-item:last-of-type
  > .accordion-header
  .accordion-button.collapsed {
  background-color: #52b788;
  padding: 13px;
}

.profileWrapper
  .accordion-item:first-of-type
  > .accordion-header
  .accordion-button {
  background-color: #52b788;
  padding: 13px;
}

.profileWrapper .accordion-header {
  margin-bottom: -3px;
}

.profileWrapper .accordion-item:last-of-type > .accordion-collapse {
  background-color: rgb(183, 228, 199);
  border: 3px solid rgb(82, 183, 136);
}

.ProfileImgWrapper {
  /* background-color: aqua; */
  border-radius: 10px;
  overflow: hidden;
  border: 5px solid #d8f3dc;
  max-height: 200px;
  aspect-ratio: 1;
  position: relative;
}

.ProfileImgWrapper img {
  width: 200px;
  aspect-ratio: 1;
}
.verifyTick{
  position: absolute;
      font-size: 25px;
    right: 8px;
    bottom: 0px;
}


.dashboard-btn {
  background-color: #2d6a4f;
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: #d8f3dc;
  margin-bottom: 10px;
}

.dashboard-body {
  width: 100%;
  min-height: 90vh;
  background-color: #95d5b2;
  margin-top: 8px;
  border-radius: 10px;
}

.WelcomeScreen {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nameSpan {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
}

.WelcomeScreen img {
  rotate: calc(30deg);
  opacity: 0.3;
}

.offcanvas-backdrop {
  width: 100% !important;
  height: 100% !important;
}

.offcanvas {
  background-color: #74c69d !important;
  width: 300px !important;
  border-radius: 0 10px 10px 0;
}

.offcanvas-body {
  margin-top: 20px;
  padding: 0px !important;
}
.linkWrapper {
  background-color: #d8f3dc8e;
  min-height: 90%;
  margin: 10px;
  border-radius: 10px;
  /* border: 1px solid white; */
  padding: 30px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-link {
      padding: 12px 16px;
      border-bottom: 1px solid #ffffff3a;
}

.dashboard-link .links {
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  color: #1b4332;
  font-size: 18px;
  text-decoration: none;
  transform: translateX(10px);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.dashboard-link:hover .links {
  transform: translateX(15px);
  color: #081c15;
}


.dashboard-Activelink {
  background-color: #74c69d;
  padding: 12px 16px;
  border-radius: 100px 0px 0px 100px;
}

.dashboard-Activelink .links {
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  color: #1b4332;
  font-size: 20px;
  text-decoration: none;
  transform: translateX(10px);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.dashboard-Activelink:hover .links {
  transform: translateX(12px);
  color: #081c15;
}

.Approve-User{
 width: 100%;
 display: flex;
 justify-content: end;
}

.Approve-User button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #1b4332;
  color: #b7e4c7;
  transition: 0.3s;
 

}

.Approve-User button:hover{
    background-color: #133024;
}

.RoleTag{
  background-color: #d8f3dc;
  color: #52b788;
  padding: 6px;
  border-radius: 5px;
  margin-left: 10px;
}

