.category-Wrapper {
  width: 100%;
  height: 50%;
  padding: 10px;
  display: flex;
}

.category-Wrapper .leftside {
  /* background: #000; */
  width: 50%;
}

.image {
  max-width: 100%;
  height: auto;
}

.imageCategory {
  width: 100px;
  overflow: hidden;
}

.imageCategory img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.imageCategory img:hover {
  transform: translateX(4px);
}

.category-Wrapper .rightside {
  /* background: #9d7878; */
  width: 50%;
  padding: 0px 10px;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.submit {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: #1b4332;
  color: white;
  transition: 0.3s;
}

.submit:hover {
  background-color: #143326;
  transform: translateX(5px);
}
