.auctionWrapper {
  width: 100%;
  /* min-height: 70vh; */
  background-color: #d8f3dc;
}

.auctionCategory {
  width: 100%;
  height: 250px;
  /* background-color:white ; */
  padding: 20px;
  /* margin-bottom: 100px; */
}

.upcoming {
  background-color: #1b4332;
  padding: 7px 13px;
  border-radius: 6px;
  border: none;
  color: white;
  transition: 0.3s;
}

.upcoming:hover {
  background-color: #163427;
  transform: translateX(5px);
}

.AllAuction {
  background-color: #40916c;
  padding: 7px 13px;
  border-radius: 6px;
  border: none;
  color: white;
  transition: 0.3s;
}

.AllAuction:hover {
  background-color: #2f6a50;
  transform: translateX(5px);
}

.allAuctions{
    width: 100%;
    min-height: 70vh;
    background-color: #b7e4c7;
}


.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 0.4s ease forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}