.order-card {
    margin-top: 30px;
  width: 300px;
  background: #ffffff;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.order-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

/* HEADER */
.order-header {
  display: flex;
  gap: 12px;
}

.order-image {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.order-info {
  flex: 1;
}

.order-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.order-id {
  font-size: 13px;
  color: #666;
  margin: 4px 0;
}

.order-category {
  font-size: 12px;
  background: #e8f5e9;
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 6px;
}

/* MIDDLE */
.order-middle {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.label {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.value {
  font-size: 16px;
  font-weight: 600;
}

.price {
  color: #2e7d32;
}

.status {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 8px;
    background: rgba(255, 255, 0, 0.659);
  color: #174a1a;
  font-weight: 700;
}



.completed{
background-color: #0ff554;
color: white;
}

.failed{
  background-color: #ff3212;
color: white;
}

/* TIME */
.order-time {
  font-size: 12px;
  color: #777;
  margin-bottom: 12px;
}

/* ACTIONS */
.order-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-outline {
  flex: 1;
  border: 1px solid #2e7d32;
  background: transparent;
  color: #2e7d32;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-Payment {
  flex: 1;
  background: #2e7d32;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary {
  flex: 1;
  background: #1b4332;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.Active{
    border: 5px solid #ff7216b2;
    
}