.footer-main {
  background: #081c15;
  color: #d8f3dc;
  border-radius: 10px 10px 0 0;
}

.footer-logo {
 font-weight: 700;
    letter-spacing: 1px;
    background-color: #1b4332;
    padding: 20px;
    border-radius: 6px;
}

.footer-text {
  font-size: 14px;
  opacity: 0.9;
  max-width: 300px;
  color: #d8f3dc;
}

.footer-title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 12px;
  text-align: start;
  color: #28a745;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #d8f3dc;
}

.footer-links li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  opacity: 0.85;
  transition: all 0.3s ease;
}

.footer-links li:hover {
    color: #40916c;
  opacity: 1;
  transform: translateX(4px);
}
.footer-links li a {
  color: white;
    font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  opacity: 0.85;
  transition: all 0.3s ease;
}
.footer-links li a:hover {
    color: #40916c;
  opacity: 1;
  transform: translateX(4px);
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.footer-social i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #2d6a4f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-social i:hover {
  background: #d8f3dc;
  color: #28a745;
  transform: translateX(4px);
}

.footer-bottom {
  background: rgba(0, 0, 0, 0.15);
  font-size: 13px;
}


.scroll-top-btn {
  position:absolute;
  right: 50px;
  top: 50px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: linear-gradient(135deg, #2e7d32, #43a047);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}

.scroll-top-btn i {
  font-size: 28px;
  transition: transform 0.25s ease;
}

/* Hover */
.scroll-top-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);
}

.scroll-top-btn:hover i {
  transform: translateY(-2px);
}

/* Active / Click */
.scroll-top-btn:active {
  transform: scale(0.92);
}
