.forget {
  /* min-height: 50vh; */
  text-align: center;
  width: 100%;
  background-color: #b7e4c7;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forget-wrapper{
    width: 25%;
    min-height:40vh ;
    background-color: #d8f3dc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

}

.sendOTP{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #1b4332;
    color: white;
    transition: 0.3s;
}

.sendOTP:hover{
       background-color: #153427; 
}





@media (max-width: 768px) {
    .forget-wrapper{
    width: 90%;
}
}